# Global directories
__pycache__/

# Global files
.DS_Store
*.py[cod]
*.dll
*.so
*.log
*.swp
*~

# Root directories
# - all packaging tools store cache directories here
/.cache/
# - hatch stores python virtual environments here
/.venv/
# - artifacts from the build/test system go here
/artifacts/
